<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Attraction Details</title>
</head>
<body>

<h1 th:text="${attraction.name}">Attraction</h1>

<!-- MAIN DETAILS -->
<table>
    <tr>
        <th>Name</th>
        <td th:text="${attraction.name}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${attraction.description}"></td>
    </tr>
    <tr>
        <th>City</th>
        <td th:text="${attraction.cityName}"></td>
    </tr>
</table>

<br>

<!-- TAGS SECTION -->
<h2>Tags</h2>

<table>
    <thead>
    <tr>
        <th>Tag</th>
    </tr>
    </thead>
    <tbody>

    <tr th:if="${attraction.attractionTags.isEmpty()}">
        <td>There are no tags for this attraction yet</td>
    </tr>

    <tr th:each="tag : ${attraction.attractionTags}">
        <td th:text="${tag}"></td>
    </tr>

    </tbody>
</table>

<br>

<a th:href="@{/attractions}">
    <button>Go Back</button>
</a>

</body>
</html>