<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Tags</title>
</head>
<body>
    <h1 th:text="${attraction.name} + ' Tags'"> </h1>
    <table>
        <thead>
        <tr th:if="${tags.isEmpty()}"> There are no tags for this attraction yet </tr>
        <tr th:if="${!tags.isEmpty()}">
            <th>Tag</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tag : ${attraction.getAttractionTags()}">
            <td th:text="${tag.getDescription()}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/attractions}">
        <button>Go Back</button>
    </a>

</body>
</html>